# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

# これらの設定は変えないこと
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# mdファイルは行末のスペースは意味を持つのでトリムはしない
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
