@charset "UTF-8";

/* セマンティックカラー（ライトモード時） */
:root.is_lightMode {
	--sc_txt_body: var(--sumi-900);
	--sc_txt_body__small: var(--sumi-1200); /* 小さな文字用 */
	--sc_txt_desc: var(--sumi-700);
	--sc_txt_placeholder: var(--sumi-600);
	--sc_txt_onFill: var(--white);
	--sc_txt_link: var(--sea-800);
	--sc_txt_link__hover: var(--sea-900);
	--sc_txt_link__active: var(--sea-900);
	--sc_txt_link__visited: var(--sea-900);
	--sc_txt_alert: var(--sun-800);
	--sc_txt_disabled: var(--sumi-500);
	--sc_txt_icon: var(--sumi-900);
	--sc_txt_btn__primary: var(--white);
	--sc_txt_btn__secondary: var(--sea-800);
	--sc_txt_btn__tertiary: var(--sea-800);
	--sc_border_field: 1px solid var(--sumi-900);
	--sc_border_divider: 1px solid var(--sumi-300);
	--sc_border_focused: 2px solid var(--wood-600);
	--sc_border_selected: 2px solid var(--sea-800);
	--sc_border_disabled: 1px solid var(--sumi-300);
	--sc_border_alert: 2px solid var(--sun-800);
	--sc_bg_body__primary: var(--sumi-50);
	--sc_bg_body__secondary: var(--sumi-200);
	--sc_bg_body__tertiary: var(--sumi-100);
	--sc_bg_btn__primary: var(--sea-800);
	--sc_bg_btn__secondary: var(--sea-50);
	--sc_bg_disabled: var(--sumi-500);
	--sc_bg_alert: var(--sun-800);
	--sc_bg_shadow: var(--sumi-700);
}

/* セマンティックカラー（ダークモード時） */
:root.is_darkMode {
	--sc_txt_body: var(--white);
	--sc_txt_body__small: var(--white);
	--sc_txt_desc: var(--sumi-400);
	--sc_txt_placeholder: var(--sumi-500);
	--sc_txt_onFill: var(--white);
	--sc_txt_link: var(--sea-300);
	--sc_txt_link__hover: var(--sea-200);
	--sc_txt_link__active: var(--sea-200);
	--sc_txt_link__visited: var(--sea-200);
	--sc_txt_alert: var(--sun-500);
	--sc_txt_disabled: var(--sumi-600);
	--sc_txt_icon: var(--white);
	--sc_txt_btn__primary: var(--white);
	--sc_txt_btn__secondary: var(--sea-300);
	--sc_txt_btn__tertiary: var(--sea-300);
	--sc_border_field: 1px solid var(--white);
	--sc_border_divider: 1px solid var(--sumi-700);
	--sc_border_focused: 2px solid var(--wood-600);
	--sc_border_selected: 2px solid var(--sea-300);
	--sc_border_disabled: 1px solid var(--sumi-300);
	--sc_border_alert: 2px solid var(--sun-500);
	--sc_bg_body__primary: var(--sumi-900);
	--sc_bg_body__secondary: var(--sumi-700);
	--sc_bg_body__tertiary: var(--sumi-800);
	--sc_bg_btn__primary: var(--sea-300);
	--sc_bg_btn__secondary: var(--sea-1100);
	--sc_bg_disabled: var(--sumi-600);
	--sc_bg_alert: var(--sun-500);
	--sc_bg_shadow: var(--white);
}





/* ≡≡≡ ❒ bl_component ❒ ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	■ 概要
		固定ページにある、コンポーネント用のボックス
		（調べやすいよう、リサイズを可能にしている）
	■ 構成
		bl_component_box : ベース
			bl_component_caption : ボックス上部に固定されたキャプション
----------------------------------------------------------------------------- */
.bl_component_box {
	padding: 0;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow-y: auto;
	resize: horizontal;
	border: var(--sc_border_field);
	border-color: var(--sc_bg_btn__primary);
}

.bl_component_box > *:not(.bl_component_caption) {
	margin: 10px;
}

.bl_component_caption {
	padding: 0.1em 0.5em;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--sc_txt_btn__primary);
	background-color: var(--sc_bg_btn__primary);
}





/* ≡≡≡ ❒ bl_devToolBox ❒ ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	■ 概要
		開発に使うツール
	■ 構成
		bl_devToolBox : ベース
			bl_devToolBox_btn : ツールボックスを開閉するためのチェックボックス
			bl_devToolBox_utils : ツール集
----------------------------------------------------------------------------- */
.bl_devToolBox {
	--tb_text: #000000;
	--tb_bg: #f8f8fb;
	--tb_accent: #0031d8;

	position: fixed;
	right: -200px;
	bottom: 110px;
	z-index: 999;
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-end;
}

.bl_devToolBox * {
	font-size: 16px;
	color: var(--tb_text);
}

.bl_devToolBox_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background-color: var(--tb_bg);
	border-top: 2px solid var(--tb_accent);
	border-bottom: 2px solid var(--tb_accent);
	border-left: 2px solid var(--tb_accent);
}

.bl_devToolBox_btn > input {
	width: 24px;
	height: 24px;
}

.bl_devToolBox_utils {
	display: block;
	width: 200px;
	padding: 4px;
	background-color: var(--tb_bg);
	border: 2px solid var(--tb_accent);
}





/* ≡≡≡ ❒ bl_toggleArea ❒ ≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
	■ 概要
		トグルボタンとラベルを持つ、トグルの中身はチェックボックス
	■ 構成
		bl_toggleArea : ベース
			bl_toggleArea_chkbox : トグルボタン
			bl_toggleArea_label : ラベル
----------------------------------------------------------------------------- */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
	.bl_toggleArea {
		display: flex;
		flex-flow: row nowrap;
		gap: 8px;
		padding: 0;
		margin: 0;
	}

	.bl_toggleArea_chkbox{
		position: relative;
		flex: none;
		width: 50px;
		height: 26px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #f1f1f4;
		border: 1px solid #949497;
		border-radius: 99px;
	}

	.bl_toggleArea_chkbox::after {
		position: absolute;
		top: 0;
		right: auto;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 24px;
		height: 24px;
		content: "";
		background-color: #ffffff;
		border: 1px solid #414143;
		border-radius: 50%;
		transition: all .3s ease;
	}

	.bl_toggleArea_chkbox:checked {
		background-color: var(--tb_accent);
	}

	.bl_toggleArea_chkbox:checked::after {
		top: 0;
		right: 0;
		left: auto;
	}

	.bl_toggleArea_label {
		flex: none;
	}
}

#js_colorMode_controller[hidden] {
	display: none;
}
